.landing-page {
    position: relative; 
    width: 100%;
    height: 100vh; 
  }
  
  .nb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10; 
  }
  
  .bg {
    position: relative;
    z-index: 0;
  }
  