.landing-page {
    position: relative; 
    width: 100%; 
    min-height: 100vh; 
    
  }
  
  .nb {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;  
    z-index: 10; 
    
  }
 
  
  